Source: gxde-voice-recorder
Section: utils
Priority: optional
Maintainer: 3025613752@qq.com
Build-Depends: debhelper (>= 9), pkg-config, qt5-qmake, qttools5-dev-tools, libdtkwidget2-dev, libavformat-dev
Standards-Version: 3.9.8
Homepage: https://github.com/GXDE-OS/gxde-voice-recorder

Package: gxde-voice-recorder
Architecture: any
Replaces: deepin-voice-recorder
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5multimedia5-plugins
Description: Voice recorder application for GXDE
 GXDE voice recorder tool.
